<div class="container">
  <%= simple_form_for [@user, @trip] do |f| %>
  <%= f.input :destination, class:"input" %>
  
  <%= f.input :star_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>

  <%# <%= f.input :end_date %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class:"btn btn-input mt-2 roboto-bold" %>
<% end %>

</div>
