<h1>Trips</h1>
<ul>
<% @trips.each do |trip| %>
<li><%= link_to trip.destination, user_trip_path(current_user, trip) %> Start: <%= trip.star_date.year %>/<%= format('%02d', trip.star_date.month) %>/<%= format('%02d', trip.star_date.day) %> - End: <%= trip.end_date.year %>/<%= format('%02d', trip.end_date.month) %>/<%= format('%02d', trip.end_date.day) %></li>
<% end %>
</ul>
<%= link_to "New trip", new_user_trip_path, class: "btn btn-destroy ms-2 mb-2 roboto-regular" if policy(Trip).new? %>
<%= link_to "Back", user_path(current_user), class: "btn btn-destroy ms-2 mb-2 roboto-regular" %>
