<h1 class="d-flex justify-content-center bebas-neue-regular m-4">New trip</h1>

<%= render 'form', trip: @trip %>

<%= link_to "Back", trips_path, class: "btn-singup btn btn-ghost roboto-regular mt-2" %>


<%# <div class="container"> %>
  <%# <div class="search-form-control form-group m-3"> %>
    <%# <%= form_with url: users_path, method: :get, class: "d-flex" do %>
      <%# <%= text_field_tag :query, %>
            <%# # params[:query], %>
            <%# # class: "form-control", %>
            <%# # placeholder: "Buddy"
        # %>
      <%# <%= submit_tag "Buscar", name: "", class: "btn btn-flat" %>
    <%# <% end %>
  <%# </div> %>
<%# </div> %>
