<h1>Trip to <strong><%= @trip.destination %></strong> </h1>

<h2>Add a itinerary</h2>
<%= link_to "add a itinerary", new_trip_itinerary_path(@trip) %>
<ul>
  <% @trip.itineraries.each do |itinerary| %>
  <li>
    <%= itinerary.description %> - <%= itinerary.date.year %> / <%= format('%02d', itinerary.date.month) %> / <%= format('%02d', itinerary.date.day) %> - Hour: <%= format('%02d', itinerary.date.hour) %> : <%= format('%02d', itinerary.date.min) %>
  </li>
  <% end %>
</ul>

<%= link_to "new experience here", new_itinerary_experience_path(@trip) %>
