<h1 class="d-flex justify-content-center bebas-neue-regular m-4">Editando seu perfil</h1>

<div class="container form">
  <%= simple_form_for [@user] do |f| %>
  <%= f.input :first_name, label: "Name" %>
  <%= f.input :last_name, label: "Last name" %>
  <%= f.input :email %>
  <%= f.input :country %>
  <%= f.input :city %>
  <%= f.input :contractor, as: :select, collection: [['Yes', true], ['No', false]] %>
  <%= f.button :submit, class:"btn-login btn btn-ghost" %>
<% end %>
</div>
