 <h1 class="d-flex justify-content-center m-4 bebas-neue-regular">PROFILE</h1>
<div class="container">

  <div class="row g-0 d-flex justify-content-between m-4 align-items-center">

    <div class="col-md-4 d-flex justify-content-start">
      <%= image_tag "mateus.png", class: "perfil", width:200 %>
    </div>

    <div class="col-md-6 roboto-regular">
      <p><strong> Name: </strong> <%= @user.first_name %> <%= @user.last_name %>

      <p><strong> Address: </strong> <%= @user.city  %> - <%= @user.country %></p>

      <p><strong> Email: </strong> <%= @user.email %></p>

      <p><strong> Occupation: </strong> <%= @user.contractor == true ? "Contractor" : "Traveler" %></p>

    </div>

    <div class="col-md-2 d-flex align-items-top roboto-bold">
      <%= link_to 'Edit profile', edit_user_path(@user), class: "btn btn-ghost mb-2"%>
    </div>

  </div>

  <div class="d-grid gap-2 m-4 roboto-bold">
      <%= link_to "Your trips", trips_path, class: "btn btn-ghost mb-2" %>
      <%= link_to "Your documents", documents_path, class: "btn btn-ghost mb-2" %>

      <ul>
        <% @itineraries.each do |itinerary| %>
          <li>
            <%=itinerary.description %></p>
            <%= link_to "Add a documents", new_itinerary_document_path(itinerary,@document), class: "btn btn-ghost mb-2" %>
          </li>
        <% end %>
      </ul>

      <%= link_to "New Trip", new_trip_path, class: "btn btn-ghost mb-2" %>

  </div>

  <% if @user.contractor?  %>
    <div>
      <h3 class="d-flex justify-content-center m-2 bebas-neue-regular">Your services</h3>
      <div class="">
        <div class="mt-2 d-flex justify-content-center">
          <div>
            <ul>
            <li class="mt-1 roboto-regular d-flex align-items-baseline">
              <strong class="mx-1"> City: </strong>  Paris
            </li>
            </ul>
          </div>
        <div>
          <ul>
            <% @user.services.each do |service| %>
            <li class="my-1 roboto-regular d-flex align-items-baseline">
              <strong class="mx-1">Service:</strong> <%=service.profession %>
              <%# <%= link_to 'Delete', user_service_path(@user, service), class: "btn btn-destroy ms-2 mb-2 roboto-regular", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
            </li>
            <% end %>
          </ul>
        </div>
        <div>
          <ul>
            <% @user.services.each do |service| %>
            <li class="mt-1 roboto-regular d-flex align-items-baseline">
              <strong class="mx-1">Description:</strong>  <%=service.description %>
              <%# <%= link_to 'Delete', user_service_path(@user, service), class: "btn btn-destroy ms-2 mb-2 roboto-regular", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
            </li>
            <% end %>
          </ul>
        </div>
        <div>
          <ul>
            <% @user.services.each do |service| %>
              <li class="roboto-regular d-flex align-items-baseline">
                <strong class="mx-1"> Price: </strong> $ <%= service.price %> at <%= service.local %>
                <%= link_to 'Delete', user_service_path(@user, service), class: "btn btn-destroy ms-2 mb-2 roboto-regular ", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <%= link_to "New service", new_user_service_path(current_user.id), class: "btn btn-ghost mb-2 d-flex justify-content-center" %>
  <% end %>
</div>
