<h1>Name: <%= @user.first_name %> <%= @user.last_name %></h1>

<h3>Address: <%= @user.city  %> - <%= @user.country %></h3><br>

<h4>Email: <%= @user.email %></h4><br>

<h4>Occupation: <%= @user.contractor == true ? "Contractor" : "Traveler" %></h4><br>

<%= link_to 'Edit', edit_user_path(@user)%>

<%= link_to "Your trips", user_trips_path(current_user.id) %>

<%= link_to "New Trip", new_user_trip_path(current_user.id), class: "btn btn-primary" %>
