<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "NEW TRIP", new_trip_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <div class="navbar-brand d-flex align-items-center justify-content-center">
          <%= link_to root_path do %>
            <i class="fas fa-plane me-2"></i>
            <h1 class="mb-0">TRAVELY</h1>
          <% end %>
        </div>
      <% end %>

      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Your trip", trips_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
          </li>
          <li class="nav-item avatar-photo">
            <%= link_to user_path(current_user.id) do %>
              <% if @user&.photo&.key.present? %>
                <%= cl_image_tag @user&.photo&.key, class: "avatar", alt: "dropdown menu" %>
              <% else %>
                <%= image_tag "pro_default.jpg", class: "avatar", alt: "dropdown menu" %>
              <% end %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
