<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "mx-4 nav-link" %>
          </li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <div class="navbar-brand">
          <%= link_to root_path do %>
            <h1 class="text-center mb-0">Travely</h1>
          <% end %>
        </div>
      <% end %>

      <ul class="navbar-nav ms-auto d-flex align-items-right">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "New trip", new_trip_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Your trip", trips_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
          </li>
          <li class="nav-item avatar-photo">
            <%= link_to user_path(current_user.id) do %>
              <%= image_tag "mateus.png", class: "avatar", alt: "dropdown menu" %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
