<div class="container d-flex justify-content-center w-100">
 <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner w-100">
      <div class="carousel-item active" data-bs-interval="10000">
        <%= image_tag "Home.png", alt: "Travely", class: "banner-img", width:1300 %>
        <div class="carousel-caption d-none d-md-block">

        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <%= image_tag "Home2.png", alt: "Travely2", class: "banner-img", width:1300 %>
        <div class="carousel-caption d-none d-md-block">

        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "Home3.png", alt: "Travely3", class: "banner-img", width:1300 %>
        <div class="carousel-caption d-none d-md-block">

        </div>
      </div>

      <div class="carousel-item">
        <%= image_tag "Home4.png", alt: "Travely4", class: "banner-img", width:1300 %>
        <div class="carousel-caption d-none d-md-block">

        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="container">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travely</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="content">
        <div class="section">
            <div class="row">
                <div class="column">
                    <div class="card">
                        <%# <a href="#" class="btn-card"> %>
                            <%= link_to "NEW TRIP", new_trip_path, class: "btn-card" %>
                            <%= image_tag "mundo.jpeg", height: 200, class: "img-card-index", crop: :fill, alt: "mundo" %>
                            <%# <span>NEW TRIP</span> %>
                        </a>
                    </div>
                </div>
                <div class="column d-flex align-items-center">
                  <div>
                    <h2>Discover Your Next Adventure with Travely</h2>
                    <p>Are you ready to embark on the journey of a lifetime? Look no further than Travely, your ultimate guide to organizing unforgettable trips. Whether you’re dreaming of exploring exotic destinations, immersing yourself in local cultures, or simply relaxing in the most serene landscapes, Travely is here to make your travel dreams come true.</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>What is the most visited destination in the world?</h2>
            <div class="row">
                <div class="column-img">
                    <%= image_tag "pipeline.jpeg", height: 500, class: "img-card-index", crop: :fill, alt: "pipeline" %>
                </div>
                <div class="column">
                    <h3>Thailand</h3>
                    <p>Thailand is a country located in Southeast Asia, known for its rich history, vibrant culture, majestic temples, and stunning landscapes. With a unique blend of tradition and modernity, Thailand offers an unforgettable travel experience for visitors from around the world.</p>
                    <h4>History and Culture</h4>
                    <p>The history of Thailand is marked by ancient dynasties, powerful kingdoms, and diverse cultural influences, including Buddhism, which plays a central role in daily life.</p>
                </div>
            </div>
            <%# <a href="#" class="btn-home roboto-regular">CLICK TO CREATE YOUR NEW TRIP</a> %>
            <%= link_to "CLICK TO CREATE YOUR NEW TRIP", new_trip_path, class: "btn-home roboto-regular" %>
        </div>
        <div class="section">
            <h2>The Passion for Harry Potter and the Castles of Scotland</h2>
            <div class="row">
                <div class="column">
                    <p>For fans of the Harry Potter series, the world created by J.K. Rowling is a magical escape filled with wonder, adventure, and a deep sense of history. One of the most enchanting aspects of this world is its setting, with many scenes taking place in ancient castles and historic landscapes. This connection has fostered a unique relationship between Harry Potter enthusiasts and the castles of Scotland, where much of the inspiration and filming for the series took place.The Harry Potter series, with its rich narrative and vividly detailed universe, has become a cultural phenomenon since the release of the first book in 1997.</p>
                </div>
                <div class="column">
                    <%= image_tag "Scotland.webp", height: 250, class: "img-card-index", crop: :fill, alt: "scotland" %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

</div>
