<div class="container form">
  <%= simple_form_for [@document] do |f| %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class:"btn-singup btn btn-ghost mt-2" %>
<% end %>

</div>
