<div class="container mt-2">
  <h1 class="d-flex justify-content-center m-4 bebas-neue-regular">Documents</h1>
  <div class="cards-grid">
    <% @documents.each do |document| %>
      <%= link_to document_path(document), class: "card-link" do %>
        <div class="cardb p-4">
          <div class=" d-flex justify-content-center">
            <p><strong>Description:</strong> <%= document.description %></p>
          </div>
          <div class="mb-2">
            <% if document.photo.key.present? %>
              <%= cl_image_tag document.photo.key, height: 360, class: "img-card-index", crop: :fill %>
            <% else %>
              <%= image_tag "default.png", height: 360, class: "img-card-index", crop: :fill %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container d-flex justify-content-between  mt-4">
  <%= link_to "Add a document", new_itinerary_document_path(@itinerary), class: "btn btn-ghost roboto-regular mb-2" %>
  <%= link_to "Back", user_path(current_user), class: "btn-login btn btn-ghost roboto-regular d-flex align-items-center mx-2" %>
</div>
